[report]
omit= 
	*/venv/*
	*/.eggs/*
	*/.pytest_cache/*
	*/bookameal.egg-info/*
	*.travis.yml*
	*.setup.py*
	*requirements.txt*
	*bookameal/config.py
	*ctypes/__init__.py
	*ctypes/_endian.py
	*ctypes/util.py
	*decimal.py
	*encodings/idna.py
	*hmac.py
	*/html/*
	*/http/*
	*mimetypes.py
	*numbers.py
	*stringprep.py
	*uuid.py
	*/_pytest/*
	*/attr/*
	*/certifi/*
	*/click/*
	*/flasgger/*
	*/idna/*
	*.itsdangerous.py
	*/jinja2/*
	*/jsonschema/*
	*/jwt/*
	*/markupsafe/*
	*.mistune.py
	*/more_itertools/*
	*/pluggy/*
	*/py/*
	*.cgi.py
	*/werkzeug/*
	*/urllib3/*